---
layout: default
title: my site
---

<div id="home">
 
  
  <table >
 <tr>
     <td style="padding: 50px;"> <h1>posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul></td>
     <td style="padding: 50px;"> <h1>posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul></td>
 </tr>
\
</table> 


</div>